header #btn-search {
    position: absolute;
    background-color: #45b754; /* Green */
    border: none;
    color: white;
    width: 7%;
    height: 7%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    left: 33%;
    top: 45%;
}

header input[type=text] {
    position: absolute;
    border: none;
    color: grey;
    width: 25%;
    height: 7%;
    top: 45%;
    left: 40%;
    font-size: 40px;
}

header #items {
    position: absolute;
    top: 25%;
    bottom: 2%;
    left: 0%;
    right: 0%;
    overflow: auto;
    max-height: 80%;
}

header .item {
    background-color: #45b754;
    padding: 5px 5px;
    margin 25px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.btn-back {
    background-color: #45b754;
    padding: 15px 20px;
    margin 25px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    bottom: 2%;
    left: 1%;
    position: absolute; 
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
}
