header #items {
    position: absolute;
    top: 8%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: auto;
    max-height: 90%;
}

header .item {
    background-color: rgba(214,73,55,0.8);
    padding: 5px 5px;
    border-radius: 15px;
    margin: 10;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
}
