header #version {
    position: absolute;
    background-color: #A3A196;
    opacity: 0.7;
    top: 10%;
    right: 2%;
    height: 40%;
    width: 30%;
}

header #text {
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: left;
    width: 100%;
    height: 40%;

}

header #version #update {
    position: absolute;
    background-color: #45b754;
    opacity: 1;
    border: none;
    color: white;
    text-align: center;
    text-size: 20pt;
    display: inline-block;
    font-size: 16px;
    bottom: 1%;
    right: 1%;
}


@media(min-width:768px) {
    header {
        min-height: 100%;
    }
}
